@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');    

section {
    padding: 10px;
    display: grid;
    place-items: center;
    max-width: 70%;
    margin: 0 auto;
    border-radius: 4px;
    margin-top: 10px;
    font-family: 'Alegreya', sans-serif;
  }
  section h2 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  section h3 {
    font-size: 1.4em;
}

  section .card {
    flex: 1 0 30%;
    margin: 30px;
    max-width: 80%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    display: grid;
  }
  section:nth-child(1) {
    background-color: #f0f0f0;
  }
  section:nth-child(2) {
    background-color: #727272;
    color: #fff;
  }
  section:nth-child(3) {
    background-color: #f0f0f0;
  }
  section:nth-child(4) {
    background-color: #727272;
    color: #fff;
  }
  section:nth-child(5) {
    background-color: #f0f0f0;
  }
  .tag-separator {
    margin-right: 5px;
    font-style: italic;
    color: #333;
  }
  select {
    background-color: #fff;
    font-size: 12px;
    color: #333;
    border: 1px solid #ccc;
    padding: 5px;
    margin-left: 10px;
    border-radius: 4px;
   
  }
  
  